<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTMLファイルからPOSTでJSONデータを送信</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#response").html("Response Values");

        $("#button").click( function(){
            var url = $("#url_post").val();

                var JSONdata = {
                    text_to_get_predicted: $("#value1").val(),
                };

            alert(JSON.stringify(JSONdata));

            $.ajax({
                type : 'post',
                url : url,
                data : JSON.stringify(JSONdata),
                contentType: 'application/json',
                //dataType : 'JSON',
                //scriptCharset: 'utf-8',
                success : function(data) {

                    // Success
                    alert("success");
                    alert(JSON.stringify(data));
                    $("#response").html(JSON.stringify(data));
                },
                error : function(data) {

                    // Error
                    alert("error");
                    alert(JSON.stringify(data));
                    $("#response").html(JSON.stringify(data));
                }
            });
        })
    })
</script>

</head>
<body>
    <h1>カテゴリ分類機 (category classifier)</h1>
    <p>HTMLファイルからPOSTでJSONデータを送信します、コロナウイルス関連のツイート抽出します。</p>
    <p>Send json data by POST method through the form below</p>
    <p>URL: <input type="text" id="url_post" name="url" size="100" value="https://flask-ml-api.herokuapp.com/post"></p>
    <p>text_to_get_predicted: <input type="text" style='font-size:1em;' id="value1" size="300" value="Input the text you want to get predicted (判別したいテキストを入力してください)"></p>
    <p><button id="button" type="button">submit</button></p>
    <textarea id="response" cols=120 rows=10 disabled></textarea>
</body>
</html>